/*--------------BOOTSTRAP-ICONS-----------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
/*-------------------------------------------*/
/*--------------ANIMACIONES-----------------*/
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 
/*-------------------------------------------*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#0d6efd;
}
header{
    position: fixed; 
    width: 100%;
}
.nav-link{
    font-size: 20px;
}
.navbar-nav{
    margin: auto;
    position: relative;
}
.contenedorDivIcon{
    font-size: 40px;
    letter-spacing: 10px;
    margin-left: 10px;
}
.divCentrado{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
}
.divCentradoIndex{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
}
.imgBienvenido{
    height: 100%;
    width: 100%;
    position: fixed;
}
.bienvenido{
    font-family: 'Otomanopee One', sans-serif;
    -webkit-text-stroke: 2px white;
    color: black; 
    text-align: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
    margin-top: 12%;
}
.bienvenidoText{
    font-size: 75px;
    position: fixed;
    top: 400px;
    left: 10px;
}
#cajacookies {
    box-shadow: 0px 0px 5px 5px #808080;
    background-color: white;
    color: black;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.pCookies{
    color: white
}
.aCookies{
    color: white;
}

.tituloCentrado{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:#212529
}
.titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 1px white;
    color: black; 
    text-decoration: none;
}
.titulo:hover{
    color: rgb(54, 54, 54);
}
.subtitulo{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 45px;
    -webkit-text-stroke: 1px white;
    color: black; 
    margin-left: 3%;
    text-align: center;
    align-items: center;
}
.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    margin-top: 25px;
    text-align: justify;
}
.container-all img{
    width: 526px;
    height: 399px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-all p{
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
}
.fontDatos, p ,
#perfilAlumnoH2, #mensaje, #mensaje2,
#mensaje3{
    color: white;
    margin-left: 3%;
}
.botones{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.botonesCentrados{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
	background: orange;
	width: 95px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 1px #000;
	display: inline-block;
}
#ningunDato{
    color: red;
}

.botonesCentrados:hover{
    opacity: .9;
}
#formTrabaja{
    background-image: url("../media/trabajaConNosotros.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
}
.carouselGaleria{
    width: 100%;
    height:85vh;
    display: flex;
    align-items: center;
}

.divTrabaja1{
    text-align: center;
    align-items: center
}
.divTrabaja{
    width: 100%;
}

#cajaNotas{
	width: 100%;
	margin: auto;
	height: 0px;
	box-shadow: 10px 10px 3px black;
	transition: height .4s;
    display: flex;
}
#cajaNotasForm{
    text-align: center;
    align-items: center;
}
#cajaAlumno{
    width: 25vh;
	margin: auto;
	height: 0px;
	box-shadow: 10px 10px 3px black;
	transition: height .4s;
}
#mensaje2{
    font-size: 15px;
}
.divFormContacto{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
}
.formCentrado{
    margin-left: 33%;
    margin-right: 33%;
    width: 30%;
}


/*----------MEDIA QUERIES----------*/
@media screen and (max-width:768px){
    .bienvenidoText{
        font-size: 40px;
        position: relative;
        margin-top: -250px;
    }
    .carouselGaleria img{
        width: 100%;
        height: 100%;
     }
    .carousel2{
        height:500px;
    }
    .titulo{
        font-size: 40px;
    }
    .contenedorDivIcon{
        font-size: 25px;
    }
    .container-all img{
        width: 326px;
        height: 199px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:480px){
    .bienvenidoText{
        font-size: 30px;
        position: relative;
        margin-top: -250px;
    }
    .carouselGaleria img{
        width: 100%;
        height: 100%;
     }
     .carousel2{
        height:500px;
     }
     .titulo{
        font-size: 30px;
    }
    .contenedorDivIcon{
        font-size: 25px;
    }
    .container-all img{
        width: 326px;
        height: 199px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
/*----------------------------------*/